body {
    font-family: Arial;
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 6px 10px;
    border: 1px solid #333;
}

table th {
    background: #f1f1f1;
}
